* {
    box-sizing: border-box;
}

:root {
    font-family: Roboto;
    --color-highlight: #a6a6a6;
    --color-back: #d9d9d9;
    background-color: #e8e8e8;
    --t: .5s;

    --color-no-desiertos: #65CA87;
    --color-semi-desiertos: #EFBB8B;
    --color-desiertos: #FF8888;
}

body {
    margin: 0;
}

.outer-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding-top: 1rem;
}

.map-container {
    height: 50vh;
    position: relative;
    transition: margin var(--t);
}

.map {
    height: 100%;
    width: 100%;
}

path {
    stroke-width: 1;
    stroke: #333;/* #BFA98F;*/
    /*fill: #FEFED0; /* lightseagreen;*/
}

path.provincias {
    stroke: #333;
    stroke-width: 3;
    fill: transparent;
    pointer-events: none;
}

path[data-category="No desierto"] { fill: var(--color-no-desiertos); }
path[data-category="Desierto Moderado"] { fill: var(--color-semi-desiertos); }
path[data-category="Desierto"] { fill: var(--color-desiertos); }


g:has(path.selected) path {
    opacity: .1;
}

g:has(path.selected) path.selected {
    opacity: 1;
}

.zoomed path {
    stroke-width: .5;
}

.zoomed path.provincias {
    stroke-width: 1;
}

.zoomed + .controls button {
    background-color: khaki;
}

path.municipios:hover {
    stroke: var(--color-highlight);
    stroke-width: 2;
    opacity: .7;
}



/* cards */

.wrapper-text-card-containers {
    position: relative;
}

.card-container {
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity var(--t);
}

.card-container h2 {
    margin-top: 0;
}

.card-container h3 {
    margin-bottom: 0;
}

.card-container p {
    margin: 0;
}

/* text */

.wrapper-text-container {
    position: relative;
    margin-top: -2rem;
    transition: transform var(--t);
}

.text-container, .card-container {
    height: auto;
    background-color: var(--color-back);
    padding: 2rem 2rem 2rem 1.5rem;
    line-height: 1.65;
    border-radius: 2rem 2rem 0 0;
}

.text-container * {
    margin: 0;
}

.text-container h1 {
    margin-bottom: 1.5rem;
    line-height: 1;
    font-weight: 500;
    font-size: 2rem;
}

.key-word, .btns > button {
    padding: .2em .4em;
    border-radius: 1rem;
    /*background-color: var(--color-highlight);*/
    text-transform: uppercase;
    font-weight: 500;
    /*transition: all .3s;*/
}

.btn-no-desiertos, [data-word="no desiertos"] {background-color: var(--color-no-desiertos);}
.btn-semi-desiertos, [data-word="semi-desiertos"] {background-color: var(--color-semi-desiertos);}
.btn-desiertos, [data-word="desiertos"] {background-color: var(--color-desiertos);}

.key-word.highlighted {
    border-color: crimson;
    background-color: lightpink;
}

/* button explora, hallazgos */

.btn-explora {
    border-radius: 2rem;
    background-color: var(--color-highlight);
    padding: 1rem;
    width: 70%;
    display: block;
    margin: 1rem auto 0;
    font-size: 1.5rem;
    border: 2px solid var(--color-back);
    position: relative;
    transition: border-color .5s, background-color .5s;
}

.btn-explora:hover {

    border-color: var(--color-highlight);
    background-color: var(--color-back);


}

.link-hallazgos {
    display: block;
    margin: 0 auto 1rem 1rem;
    line-height: 1;
    padding: .6rem;
    font-family: 1rem;
    background-color: var(--color-back);
    border: 2px solid var(--color-back);
    width: 33%;
    text-align: center;
    color: #333;
    text-decoration: none;
    border-radius: 1.5rem;
    /*opacity: 0;*/
    transition: opacity var(--t);
}

/* menu button */

.top-bar {
    display: flex;
    height: 3rem;
    justify-content: space-between;
    margin: 0 1rem;
    padding-bottom: 1rem;

}

.top-bar img {
    display: block;
    height: 100%;
}

.top-bar .btn-menu {
    background-color: white;
    border: none;
    display: block;
    height: 100%;
    width: 3rem;
    padding: 0;
}

.top-bar .btn-menu svg {
    display: block;
    height: 2rem;
    width: 100%;
}

.top-bar .btn-menu line {
    stroke: #333;
    stroke-width: 3;
}

/* top-controls */
.top-controls {
    transition: transform var(--t), opacity var(--t);
}

.top-controls > div {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.top-controls input {
    border-radius: 2rem;
    background-color: var(--color-back);
    width: 100%;
    padding-left: 2rem;
    font-family: inherit;
}

.top-controls > div + div {
    margin-top: 1rem;
}

.btns button {
    border: none;
    font-family: inherit;
}

/* state : opening*/

[data-state="opening"] .top-controls {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

[data-state="opening"] .map-container {
    margin-top: -4.5rem;
}

[data-state="explore"] .wrapper-text-container {
    transform: translateY(100%);
}

[data-state="explore"] .card-container {
    opacity: 1;
}

/* see .btns > button above */


/* controls */

.controls {

    position: absolute;
    top: 1em;
    left: 1em;

    display: flex;
    flex-direction: column;

    font-family: sans-serif;

}

.controls select,
.controls button {
    background-color: aliceblue;
    border: 2px solid #333;
    box-shadow: 4px 4px #AAA;
    padding: .3em .4em;
    border-radius: 3px;
}

.controls select:hover,
.controls button:hover {
    background-color: lightblue;
}

.select-wrapper {

    margin-block: 1em;

}

.select-wrapper label {
    display: block;
    margin-bottom: .25rem;
    font-size: .8rem;
}

/* button reset map */

.btn-reset-map {

    width: 5rem;

}

.btn-reset-map:active {

    transform: translate(2px, 2px);
    box-shadow: 2px 2px #AAA;

}



.hud {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #333;
    padding: .5em;
    border-radius: 2px;
    width: 13em;
    font-family: monospace;
    color: yellow;
    font-size: .7rem;
    opacity: .7;
}

.hud p {
    margin: 0;
    text-align: right;
}