* {
    box-sizing: border-box;
}

.map-container {
    height: 95vh;
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    border: 3px solid #333;
    /*background-color: khaki;*/
    background: radial-gradient(white, aliceblue);
}

path {
    stroke-width: 1;
    stroke: white;
    fill: lightseagreen;
}

path.provincias {
    stroke: #333;
    stroke-width: 3;
    fill: transparent;
    pointer-events: none;
}

.zoomed path {
    stroke-width: .5;
}

.zoomed path.provincias {
    stroke-width: 1;
}

path.municipios:hover {
    fill: gold;
}

/* controls */

.controls {

    position: absolute;
    top: 1em;
    left: 1em;

    display: flex;
    flex-direction: column;

    font-family: sans-serif;

}

.controls select,
.controls button {
    background-color: aliceblue;
    border: 2px solid #333;
    box-shadow: 4px 4px #AAA;
    padding: .3em .4em;
    border-radius: 3px;
}

.controls select:hover,
.controls button:hover {
    background-color: lightblue;
}

.select-wrapper {

    margin-block: 1em;

}

.select-wrapper label {
    display: block;
    margin-bottom: .25rem;
    font-size: .8rem;
}

/* button reset map */

.btn-reset-map {

    width: 5rem;

}

.btn-reset-map:active {

    transform: translate(2px, 2px);
    box-shadow: 2px 2px #AAA;

}



.hud {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #333;
    padding: .5em;
    border-radius: 2px;
    width: 13em;
    font-family: monospace;
    color: yellow;
    font-size: .7rem;
    opacity: .7;
}

.hud p {
    margin: 0;
    text-align: right;
}