* {
    box-sizing: border-box;
}

:root {
    font-family: Roboto;
    --color-highlight: #a6a6a6;
    --color-back: #d9d9d9;
    background-color: #e8e8e8;
}

body {
    margin: 0;
}

.outer-wrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding-top: 1rem;
}

.map-container {
    height: 50vh;
    position: relative;
}

.map {
    height: 100%;
    width: 100%;
}

path {
    stroke-width: 1;
    stroke: white;
    fill: lightseagreen;
}

path.provincias {
    stroke: #333;
    stroke-width: 3;
    fill: transparent;
    pointer-events: none;
}

path.selected {
    fill: khaki;
}

.zoomed path {
    stroke-width: .5;
}

.zoomed path.provincias {
    stroke-width: 1;
}

.zoomed + .controls button {
    background-color: khaki;
}

path.municipios:hover {
    stroke: gold;
}

/* text */

.wrapper-text-container {
    position: relative;
    margin-top: -2rem;

}

.text-container {
    height: auto;
    background-color: var(--color-back);
    padding: 2rem 2rem 2rem 1.5rem;
    line-height: 1.4;
    border-radius: 2rem 2rem 0 0;
}

.text-container * {
    margin: 0;
}

.text-container h1 {
    margin-bottom: 1.5rem;
    line-height: 1;
    font-weight: 500;
    font-size: 2rem;
}

.key-word, .btns > button {
    padding: .2em .4em;
    border-radius: 1rem;
    background-color: var(--color-highlight);
    text-transform: uppercase;
    font-weight: 500;
    /*transition: all .3s;*/
}

.key-word.highlighted {
    border-color: crimson;
    background-color: lightpink;
}

/* button explora, hallazgos */

.btn-explora {
    border-radius: 2rem;
    background-color: var(--color-highlight);
    padding: 1rem;
    width: 70%;
    display: block;
    margin: 1rem auto 0;
    font-size: 1.5rem;
    border: none;
}

.link-hallazgos {
    margin: 0 auto 1rem 1rem;
    line-height: 1;
    padding: .6rem;
    font-family: 1rem;
    background-color: var(--color-back);
    width: 33%;
    display: block;
    text-align: center;
    color: #333;
    text-decoration: none;
    border-radius: 1.5rem;
}

/* menu button */

.top-bar {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    margin: 1rem;
    margin-top: 0;
}

.top-bar img {
    display: block;
    height: 100%;
}

.top-bar .btn-menu {
    background-color: white;
    border: none;
    display: block;
    height: 100%;
    width: 3rem;
    padding: 0;
}

.top-bar .btn-menu svg {
    display: block;
    height: 2rem;
    width: 100%;
}

.top-bar .btn-menu line {
    stroke: #333;
    stroke-width: 3;
}

/* top-controls */
.top-controls {
    transition: transform 1s;
}

.top-controls > div {
    height: 2rem;
    display: flex;
    justify-content: center;
}

.top-controls > div + div {
    margin-top: 1rem;
}

.btns button {
    border: none;
}

.btns button + button {
    margin-left: 1rem;
}

/* see .btns > button above */


/* controls */

.controls {

    position: absolute;
    top: 1em;
    left: 1em;

    display: flex;
    flex-direction: column;

    font-family: sans-serif;

}

.controls select,
.controls button {
    background-color: aliceblue;
    border: 2px solid #333;
    box-shadow: 4px 4px #AAA;
    padding: .3em .4em;
    border-radius: 3px;
}

.controls select:hover,
.controls button:hover {
    background-color: lightblue;
}

.select-wrapper {

    margin-block: 1em;

}

.select-wrapper label {
    display: block;
    margin-bottom: .25rem;
    font-size: .8rem;
}

/* button reset map */

.btn-reset-map {

    width: 5rem;

}

.btn-reset-map:active {

    transform: translate(2px, 2px);
    box-shadow: 2px 2px #AAA;

}



.hud {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #333;
    padding: .5em;
    border-radius: 2px;
    width: 13em;
    font-family: monospace;
    color: yellow;
    font-size: .7rem;
    opacity: .7;
}

.hud p {
    margin: 0;
    text-align: right;
}