* {
    box-sizing: border-box;
}

:root {

    --color-highlight: #a6a6a6;
    --color-back: #d9d9d9;
    --t: .5s;

    --color-no-desiertos: #19A476;
    --color-semi-desiertos: #EDAE70;
    --color-desiertos: #EA7885;
    --color-ypis: #266FB0;
    --color-black: #1b1b1b;
    --color-gris: #d4d4d5;

    font-family: Roboto;

}

body {
    margin: 0;
    font-family: 'Roboto';
}

.outer-wrapper {
    width: 100%;
    /*height: 100vh;*/
    /*max-width: 600px;*/
    margin: 0 auto;
    background: white;
    padding-top: 1rem;
    overflow-y: scroll;
}

.map-container {
    height: 95vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: margin var(--t), opacity var(--t);
}

.map-container.hidden {
    opacity: 0;
}

.map {
    height: 100%;
    width: 100%;

    --stroke: .1;
}

path {
    stroke-width: var(--stroke);
    stroke: var(--color-black);/* #BFA98F;*/
    fill: #FEFED0; /* lightseagreen;*/
    /*transition: stroke var(--t), fill var(--t);*/
}

path.css-controlled {
    transition: fill var(--t);
}

g:has(path.selected) path {
    opacity: .5;
}

path.municipios.selected {
    --stroke: .25;
    opacity: 1;
}

path[data-category="No desierto"] { fill: var(--color-no-desiertos); }
path[data-category="Desierto Moderado"] { fill: var(--color-semi-desiertos); }
path[data-category="Desierto"] { fill: var(--color-desiertos); }

path[data-category].no-color { fill: var(--color-gris); }

.key-word {
    /*font-size: .8rem;
    padding: .2em .6em;
    border-radius: .8rem;
    /*background-color: var(--color-highlight);*/
    /*text-transform: uppercase;*/
    font-weight: 500;
    /*transition: all .3s;*/
}


[data-word="no desiertos"]   { color: var(--color-no-desiertos);}
[data-word="semi-desiertos"] { color: var(--color-semi-desiertos);}
[data-word="desiertos"]      { color: var(--color-desiertos);}

.key-word.highlighted {
    border-color: crimson;
    background-color: lightpink;
}

/* state : opening*/

/*
[data-state="opening"] .map-container {
    margin-top: -5rem;
}*/


.hud {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #333;
    padding: .5em;
    border-radius: 2px;
    width: 13em;
    font-family: monospace;
    color: yellow;
    font-size: .7rem;
    opacity: .7;
}

.hud p {
    margin: 0;
    text-align: right;
}

.story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--color-black);
}

.text-step-wrapper {

    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}

.text-step {
    /*height: 40vh;*/
    padding: 1em;
    font-size: 1rem;
    max-width: 560px;
    width: 80%;
    border: 3px solid currentColor;
    background-color: #FFFFFFCC;
}

[data-step="cover"] .text-step {
    border: none;
}

.text-step h1 {
    margin: 0;
    font-size: 4rem;
}

.text-step p {
    font-weight: 300;
}

p.lead {
    line-height: 1.4;
    letter-spacing: .05em;
    font-weight: 300;
}



p.chapeu {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
    font-weight: 600;
    color: var(--color-ypis);
    margin-bottom: .5rem;
}

.label-pop {
    font-weight: 600;
    font-size: .9rem;
    position: absolute;
    transition: opacity .5s;
    text-align: center;
    bottom: 33vh;
    display: inline-block;
    transform: translateX(-50%);
}

.label-pop.hidden {
    opacity: 0;
}

.label-pop[data-category="Desierto"] { left: calc(100% / 6); }
.label-pop[data-category="Desierto Moderado"] { left: 50%; }
.label-pop[data-category="No desierto"] { left: calc(500% / 6); }
