* {
    box-sizing: border-box;
}

:root {

    --color-highlight: #a6a6a6;
    --color-back: #d9d9d9;
    --t: .5s;

    --color-no-desiertos: #65CA87;
    --color-semi-desiertos: #EFBB8B;
    --color-desiertos: #FF8888;

    font-family: Roboto;

}

body {
    margin: 0;
    font-family: 'Roboto';
}

.outer-wrapper {
    width: 100%;
    height: 100vh;
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding-top: 1rem;
    overflow-y: scroll;
}

.map-container {
    max-width: 600px;
    height: 100vh;
    position: fixed;
    transition: margin var(--t), opacity var(--t);
}

.map-container.hidden {
    opacity: 0;
}

.map {
    height: 100%;
    width: 100%;

    --stroke: 1;
}

path {
    stroke-width: var(--stroke);
    stroke: #333;/* #BFA98F;*/
    fill: #FEFED0; /* lightseagreen;*/
    transition: stroke var(--t), fill var(--t);
}

path.provincias {
    
    opacity: .7;
    stroke: #333;
    stroke-width: calc(var(--stroke) * 2);
    transition: opacity var(--t);
    /*transition: fill var(--t);*/
}

path.provincias:hover {
    fill: lightseagreen;
}

path.provincias.selected {
    fill: transparent;
    pointer-events: none;
}

path[data-category="No desierto"] { fill: var(--color-no-desiertos); }
path[data-category="Desierto Moderado"] { fill: var(--color-semi-desiertos); }
path[data-category="Desierto"] { fill: var(--color-desiertos); }



g:has(path.municipios.selected) path.municipios {
    opacity: .3;
}

g:has(path.municipios.selected) path.municipios.selected {
    opacity: 1;
}

.zoomed {
    --stroke: .25;
}

.zoomed[data-zoomed-to-province="Distrito capital"],
.zoomed[data-zoomed-to-province="Vargas"] {
    --stroke: .05;

}

.zoomed[data-zoomed-to-province="Distrito capital"]:has(path.municipios.selected),
.zoomed[data-zoomed-to-province="Vargas"]:has(path.municipios.selected) {
    --stroke: 0.01
}

.zoomed + .controls button {
    background-color: khaki;
}

g path.municipios.municipios.municipios:hover {
    stroke: var(--color-highlight);
    opacity: .7;
}



/* cards */

.wrapper-text-card-containers {
    position: relative;
    height: calc(100vh - 50vh - 7rem);
}

.card-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    top: 1rem;
    transition: opacity var(--t);
}

.card-container h2 {
    margin-top: 0;
    line-height: 1.2;
}

.card-container p.info-subtitle {
    margin: 0;
    font-weight: bold;
}

.card-container p {
    margin: 0;
}

.card-breadcrumbs {
    font-size: .6rem;
    text-transform: uppercase;
}

[data-breadcrumb-level="venezuela"] .breadcrumb-venezuela,
[data-breadcrumb-level="venezuela"] .breadcrumb-provincia,
[data-breadcrumb-level="venezuela"] .breadcrumb-separator {
    opacity: 0;
    display: none;
}

[data-breadcrumb-level="provincias"] .breadcrumb-provincia,
[data-breadcrumb-level="provincias"] .breadcrumb-separator  {
    opacity: 0;
    display: none;
}

.card-breadcrumbs button {
    border: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0;
}

.card-breadcrumbs button:hover {
    border-color: var(--color-highlight);
}

/* medios */
.info-medios {
    display: none;
}

[data-location-type="provincias"] .info-medios {
    display: block;
}

.wrapper-info-location {
    display: flex;
    justify-content: space-between;
}

.wrapper-info-location > div {
    flex: 0 0 50%;
}

.info-medios * {
    text-align: right;
}

.wrapper-medios-types { 
    display: flex;
    justify-content: space-between;
}

.wrapper-medios-types > span::before {
    padding-right: .3em;
}

[data-text="tv"]::before { content: '📺' ;}
[data-text="radio"]::before { content: '📻' ;}
[data-text="print"]::before { content: '📰' ;}
[data-text="digital"]::before { content: '🖥️' ;}

/*
.breadcrumb-provincia::before {
    display: inline-block;
    content: '>';
    margin-right: .3rem;
    margin-left: .3rem;
    border: none;
    background-color: transparent;
}*/

/* text */

.wrapper-text-container {
    position: relative;
    margin-top: -2.2rem;
    transition: transform var(--t), opacity var(--t);
}

.text-container, .card-container {
    background-color: var(--color-back);
    padding: 2rem 2rem 2rem 1.5rem;
    line-height: 1.65;
    border-radius: 2rem 2rem 0 0;
}

.text-container * {
    margin: 0;
}

.text-container h1 {
    margin-bottom: 1.5rem;
    line-height: 1;
    font-weight: 500;
    font-size: 2rem;
}

.key-word {
    font-size: .8rem;
    padding: .2em .6em;
    border-radius: .8rem;
    /*background-color: var(--color-highlight);*/
    text-transform: uppercase;
    font-weight: 500;
    /*transition: all .3s;*/
}


.btn-no-desiertos, [data-word="no desiertos"], [data-label-category="No desierto"]::before  {background-color: var(--color-no-desiertos);}
.btn-semi-desiertos, [data-word="semi-desiertos"], [data-label-category="Desierto Moderado"]::before {background-color: var(--color-semi-desiertos);}
.btn-desiertos, [data-word="desiertos"], [data-label-category="Desierto"]::before {background-color: var(--color-desiertos);}

.key-word.highlighted {
    border-color: crimson;
    background-color: lightpink;
}

[data-bar-category="No desierto"] { background-color: var(--color-no-desiertos); }
[data-bar-category="Desierto"] { background-color: var(--color-desiertos); }
[data-bar-category="Desierto Moderado"] { background-color: var(--color-semi-desiertos); }

/* state : opening*/

[data-state="opening"] .top-controls {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-100%);
}

[data-state="opening"] .map-container {
    margin-top: -5rem;
}

[data-state="explore"] .wrapper-text-container {
    transform: translateY(100%);
    opacity: 0;
}

[data-state="explore"] .card-container {
    opacity: 1;
}


.hud {
    position: absolute;
    top: 1em;
    right: 1em;
    background-color: #333;
    padding: .5em;
    border-radius: 2px;
    width: 13em;
    font-family: monospace;
    color: yellow;
    font-size: .7rem;
    opacity: .7;
}

.hud p {
    margin: 0;
    text-align: right;
}

.story {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.text-step-wrapper {

    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;

}

.text-step {
    /*height: 40vh;*/
    padding: 1em;
    font-size: 1rem;
    max-width: 640px;
    width: 80%;
    border: 3px solid currentColor;
    background-color: #FFFFFFCC;
}

[data-step="cover"] .text-step {
    border: none;
}

.text-step h1 {
    margin: 0;
    font-size: 4rem;
}

p.lead {
    line-height: 1.4;
    letter-spacing: .05em;
    font-weight: 300;
}



p.chapeu {
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: 0;
}

