* {
    box-sizing: border-box;
}

:root {

    --color-highlight: #a6a6a6;
    --color-back: #d9d9d9;
    --t: .5s;

    --color-no-desiertos: #19A476;
    --color-semi-desiertos: #EDAE70;
    --color-desiertos: #EA7885;
    --color-ypis: #266FB0;
    --color-black: #1b1b1b;
    --color-gris: #d4d4d5;

    font-family: Roboto;

}

body {
    margin: 0;
    font-family: 'Playfair', serif;
}

main {
    max-width: 560px; /* Or any other width that you feel is appropriate */
    margin: auto;
/*            padding: 50px;*/
    font-family: 'Roboto', sans-serif;
    padding: .5rem;
    padding-bottom: 4rem;
    padding-top: 4rem;

}

main p, ul, li {
    line-height: 1.3;
    font-weight: 300;
    font-size: 1.2rem;
    color: #1b1b1b;
    margin: 1rem 0;
    font-family: 'Playfair';
}

mi

header {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
}

#logo {
    height: 100%;
}

#hamburger-menu {
    cursor: pointer;
}

main h1 {
    margin: 0;
    font-size: 4rem;
}

h2#subheadline {
    text-align: left;
    font-size: 1.5em;
    font-weight: 400;
    color: var(--color-black);
    margin-top: 5px; /* Reduced space */
}

section {
    margin: 20px 0;
}

section h3 {
    margin-bottom: 10px;
}

a {
    color: #0d61aa;
}   


/* menu button */

.top-bar {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: white;

}

.top-bar img {
    display: block;
    height: 100%;
}

.top-bar .btn-menu {
    background-color: transparent;
    border: none;
    display: block;
    height: 100%;
    width: 3rem;
    padding: 0;
    z-index: 2;
}

.top-bar .btn-menu svg {
    display: block;
    height: 2rem;
    width: 100%;
}

.top-bar .btn-menu line {
    stroke: var(--color-black);;
    stroke-width: 3;
}

/* MENU */

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.menu ul li {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    text-align: right;
    background-color: white;
    width: 100%;
    padding-top: 3rem;
    padding-right: calc( 1rem + calc(0.5 * 1rem) );
    padding-bottom: 1rem;
    transition: transform var(--t);
}

.menu li {
    margin: 1rem 0;
}

.menu a {
    text-decoration: none;
    color: inherit;
    font-family: 'Roboto', serif;
}

.menu a:hover {
    color: var(--color-ypis);
}

.menu.hidden {
    transform: translateY(-100%);
    pointer-events: none;
}

@media screen and (max-width: 400px) {
    main h1 {
        font-size: 3rem;
    }
    
}